/* stylelint-disable indentation */
.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;

  align-items: center;

  font-size: 18px;
  line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.firstLevelList {
  padding: 0;

  list-style: none;
}

.secondLevel {
  margin-bottom: 10px;
  padding: 0;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--grey-dark);

  border: none;
  background: none;

  font-size: 12px;
  line-height: 16px;
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding: 0 0 0 32px;

  list-style: none;

  border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
  overflow: hidden;

  padding: 0;

  list-style: none;
}

.thirdLevel {
  display: block;

  margin-bottom: 10px;

  cursor: pointer;

  color: var(--grey-dark);
  outline-offset: -1px;

  font-size: 14px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
